<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info ">Sorry This Page does not exist    </h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Actors" asp-action="Index">Actors Page</a>
        <div><a class="btn btn-outline-danger" asp-controller="Movies" asp-action="Index">Home Page</a></div>
        

    </div>
    
</div>